<!doctype html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <link rel="icon" type="image/x-icon" href="images/favicon.ico">

      <!-- Include Date Range Picker -->

      <title> 1Kw Challenge! </title>
   </head>
	<style>

	</style>
   <script type="text/javascript"src="js/controller2.js"></script>

   <body ng-app="myApp" class="container" background="/images/solar.jpg">
      <div  ng-controller="mainController">
          
         <h2>1kw Hour Challenge</h2>
         <h3>LeaderBoards!</h3>
         <hr>

         
         
         <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Team Name</th>
      <th>Challenges Completed</th>
      <th>Energy Used</th>
    </tr>
  </thead>
  <tbody ng-repeat="team in leaderBoard">
    <tr>
      <th scope="row"> {{ leaderBoard.indexOf(team) + 1 }}</th>
      <td ><a ng-click="generateGraph(team)"> {{ team.teamName }}</a></td>
      <td>{{ team.challenges_completed }}</td>
      <td>{{ team.energy_used }}</td>
    </tr>
  </tbody>
</table>
         
         <ol>
            <li ng-repeat="team in teams">{{ team }}</li>
         </ol>


      
      <center>
      <h2 style="color: white"><b>{{ currentTeam.teamName }}</b></h2>
      </center>
       <div class="dropdown">
            <button class="button dropdown-toggle" type="button" data-toggle="dropdown"> Challenge Select: {{ currentChallenge }}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a ng-repeat="challenge in challenges" ng-click="selectChallenge(challenge)">{{ challenge }}</a></li>
            </ul>
            
            
            <!-- 
            
            
            graph and timer go here as well as a submit button for finalizing your score and updating the leaderboard
            
            
            -->
         </div>
      </div>
   </body>
</html>

<!--
<div class="dropdown">
   <button class="button dropdown-toggle" type="button" data-toggle="dropdown" ng-click="getIds()"> Sensor Select: {{ currentId }}
   <span class="caret"></span></button>
   <ul class="dropdown-menu">
      <li><a ng-repeat="id in idList" ng-click="selectId(id)">{{ id }}</a></li>
   </ul>
</div>
-->
